body {
    margin: 0;
    padding: 0;
    font-family: Verdana, Tahoma, sans-serif;
background-color:#00ffff;
  }
  
  .box {
    display: block;
    margin: 100px auto;
    border-radius: 5px;
    max-width: 375px;
    box-shadow: 0 0 15px 2px #990000;

    overflow: hidden;
    padding: 20px;
    background-color: #fff;
  }
  
  .header-text {
    font-weight: 700;
    letter-spacing: 2px;
    text-align: center;
    text-transform: uppercase;
    font-size: 2.2rem;
    margin: 0;
    line-height: 2.3rem;
    padding: 20px 0 0 0;
    color: #ff1a1a;
  }
  
  .fa-user-circle {
    display: block;
    margin: 0 auto;
    color: #ff1a1a;
  }
  
  input {
    display: block;
    background-color: #53ff1a;
    color: rgb(0,166,189);
    outline: none;
    margin: 40px 0;
    padding-bottom: 8px;
    padding-left: 12px;
    border: none;
    line-height: 22px;
    width: 100%;
    font-size: 17px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.3);
    transition: border-color .3s, background-color .3s, font-size .3s;
  }
  
  .email-input, .password-input,.user-input,.confirm-input{
    width: 100%;
  }
  
  input:focus {
    border-color: rgb(0,166,189);
    font-size: 20px;
    background-color: white;
  }
  
  .login-btn button {
    margin: 70px auto 20px;
    display: block;
    padding: 8px 70px;
    text-align: center;
    box-sizing: border-box;
    outline: none;
    border-radius: 5px;
    letter-spacing: 1.5px;
    font-size: 20px;
    background-color: #53ff1a;
    border: 2px solid #53ff1a;
    color: white;
    font-weight: normal;
    transition: color 0.3s, background-color 0.3s;
  }
  
  .login-btn button:hover {
    color: rgb(0,166,189);
    background-color: #fff;
    cursor: pointer;
  }
  
  .choose p {
    text-align: center;
    word-spacing: 0;
    display: block;
    margin: 0;
    font-size: 15px;
  }
  
  .choose p:first-child {
    margin-bottom: 10px;
  }
  
  .choose p a {
    display: inline-block;
    text-decoration: none;
    color: rgb(0, 166, 189);
    font-size: 15px;
  }
  
  p a:hover {
    color: rgb(0, 180, 100);
    text-decoration: underline;
  }
  
  
  @media screen and (max-width: 420px) {
    .box {
      margin: 100px 10px;
      max-width: 400px;
    }
  }